<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>MVP Update Page</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" type = "text/css" href="public/style.css">

        <script src="public/web.js" defer></script>
    </head>

    <!-- Must follow blog page format -->
    <body class="mvp" action="/mvp" method="GET">
        <div class="header">
            <h2>MVP Product Website</h2>
        </div>
          
        <div class="row">

            <div class="leftcolumn">

              <div class="card">
                <h1>IOT Jacket description</h1>

                <h5>Title description, March 12, 2023</h5>

                <!-- div class="fakeimg" style="height:200px;" >Image</div --> <!-- If needed -->

                <p>MVP UPDATE PAGE </p>
                <p>We will discuss the process how we approach from create to market product, IoT Jacket</p>
              </div>

              <div class="card">
                <h2>WEEKLY PROGRESS</h2>
                <h4>WEEK 6, Feb 20, 2023</h4>
                <!--div class="fakeimg" style="height:200px;">Image</div -->
                <p>During this week, our team members start build up ideas and construct a product's profolio</p>
                <h5>PRODUCT: TechWear Jacket</h5>
                <ul>
                  <li>When you put your phone in your pocket it automatically starts charging,</li>
                  <li>Button for light or reflective if walking at night</li>
                  <li>Will automatic wireless charge via hanger</li>
                  <li>Potentially tap purchase like apple pay</li>
                </ul>
                <p>Realizable: With current technology yes it is doable, small chips can fit inside of hoodies/jackets/sweaters</p>
                <p>Attractive: Techwear is a subgenre in fashion which usually does not have actual technology, currently Arcteryx jackets are on top of the market due to their tactical look and waterproof material, and adding an aspect of technology would be useful</p>
                <p>Testable: Add a no-wire charger into a sweater and have it charge.</p>

                <h5>SIMPLE Test</h5>
                <p>Simple: Yes it is simple, you put on the jacket put the phone in the pocket and it starts charging, to pay u just extend your arm and turn arm or press button</p>
                <p>Improves: In the future we could have other products (types of jackets) according to buyers activities(like hiking, skiing, etc.) or working environment, or just casual.</p>
                <p>Meaningful use case: convenient for common users, and safety for the outdoors versions</p>
                <p>Proposition is justifiable: Clothing article with IoT</p>
                <p>Lifestyle integration is easy: Yes you just simply put it on, and hang it on the hanger</p>
                <p>Encourages sharing: Convenient charging is important since everyone uses a phone daily</p>

                <h5>RIBS Test</h5>
                <p>Relevant: Yes, it is relevant as it provides added convenience to a clothing item that people already wear</p>
                <p>Inevitable: Techwear being applied to more parts of our clothing is inevitable</p>
                <p>Believable: Yes, since the technology to build the jacket is available</p>
                <p>Simple: It's simple to use, having a charger always on you when you wear the clothing item.</p>

                <h5>Target Market</h5>
                <p>Demographic: Tech people willing to explore, fashion person looking for the new thing</p>
                <p>Geographic: There would be different thicknesses depending on the type of sweater so it is enjoyed in all regions</p>
                <p>Psychographic: Both utilitarian and fashionable groups/ similar to current Arcteryx consumers</p>
                
                <h5>Job-To-Be-Done</h5>
                <p>Conveniently brings technology to you without having to carry or worry extra.</p>
                <p>Competitors: Arcteryx, small solar panels/charger(attaches to backpack, wrist, etc), Amazon muti-function jackets</p>
                <p>Unique value proposition: Techwear that you can actually just put it on</p>
                <p>Revenue model: Business to consumer</p>

                <h4>WEEK 7, Feb 27, 2023</h4>
                <!--div class="fakeimg" style="height:200px;">Image</div -->
                <p>In this week, we do monetization research and discussproduct's materials costs</p>
                
                <p>Strategy Compass: Disruption</p>
                <p>Direct Costs including:</p>
                <ul>
                  <li>Direct Labor = 10</li>
                  <li>Microcontroller = 20-50 (bulk)</li>
                  <li>Battery cost (1)  = 9.99</li>
                  <li>Gore-TexJacket = 82.50</li>
                </ul>
                <p>Total Cost = 122.50 to 152.50</p>

                <p>Indirect Costs:</p>
                <ul>
                  <li>Utilities = 10</li>
                  <li>Sewing machine = 30</li>
                </ul>

                <p>Revenue per customer: 250 tier 1, and 1000 tier 2</p>
                <p>Variable Cost			: 162.50 -192.5</p>
                <p>Customer acquisition cost	: 10</p>
                <p>Lifetime value			: 95</p>
                <p>Startup costs (initial supplies, certification)- 10,000</p>
                <p>Break Even time @ 10 units/month	: 10 months</p>
            
             
              </div>

            </div> <!-- End class left column -->

            <div class="rightcolumn">

              <div class="card">
                <h2>About Me</h2>
                <div class="fakeimg" style="height:100px;">Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
              </div>

              <div class="card">
                <h3>Popular Post</h3>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div>
              </div>

              <div class="card">
                <h3>Follow Me</h3>
                <p>Some text..</p>
              </div>

            </div> <!-- End class right column -->

        </div> <!-- End class row -->
          
        <div class="footer"> <!-- If needed -->
            <h2>Footer</h2>
        </div> <!-- End class footer-->
        
        
    </body>
</html>